{{ define "main" }}
    {{ $paginator := .Paginate .Pages.ByDate.Reverse (index .Site.Params.paginate | default 5) }}
        <!-- {{ .Site.Params.paginate }} posts per page <br>
    {{ $paginator.TotalPages }} page(s) -->
    <div class="post-list py-5">
        {{ range $paginator.Pages }}
            {{ .Render "summary" }}
        {{ end }}
        <div class="pagination-wrap px-5">
            {{ if $paginator.HasPrev }}
                <a href="{{ $paginator.Prev.URL }}" class="navigate-anchor">≪ PREV</a>
            {{ else }}
                <div></div>
            {{ end }}
            {{ if $paginator.HasNext }}
                <a href="{{ $paginator.Next.URL }}" class="navigate-anchor">Next ≫</a>
            {{ else }}
                <div></div>
            {{ end }}
        </div>
    </div>
{{ end }}